[submodule "eFrotas"]
	path = eFrotas
	url = https://github.com/WS-Solucoes/eFrotas.git
[submodule "eRH-Service"]
	path = eRH-Service
	url = https://github.com/WS-Solucoes/eRH-Service.git
[submodule "frontend-services"]
	path = frontend-services
	url = https://github.com/WS-Solucoes/frontend-services.git
[submodule "common"]
	path = common
	url = https://github.com/WS-Solucoes/common.git
[submodule "processos-service"]
	path = processos-service
	url = https://github.com/WS-Solucoes/processos-service.git
[submodule "file-storage-service"]
	path = file-storage-service
	url = https://github.com/WS-Solucoes/file-storage-service.git
